In [19]:
# 제곱근
import math
math.sqrt(234256)

484.0

In [5]:
# sin 45도
수학.sin(45)

0.8509035245341184

In [20]:
# sin(45) ** 2 + cos(45) ** 2
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

In [100]:
# 거듭제곱
math.pow(10, 5)

100000.0

---
# 난수 발생

In [21]:
import random # 난수 발생 모듈

In [34]:
# 1 ~ 100까지의 정수 중 난수 1개 발생
random.randint(1, 100)

90

In [67]:
# 로또 645 번호 획득하기
lotto_list = range(1, 46)
random.sample(lotto_list, 6)

[23, 5, 22, 30, 12, 38]

---
# 반올림

In [75]:
print(round(2.5)) # 버그 홀수 반올림은 잘되지만 짝수 반올림은 버그발생
print(round(3.5))
print(round(4.5))
print(round(5.5))
print(round(123.45, 1)) # 소수점 첫재짜리

2
4
4
6
123.5

---
# 올림과 내림

In [78]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [79]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [82]:
# 1부터 100까지의 합 구하기

var_Sum = 0;

for i in range(1, 101):
    var_Sum = var_Sum + i
    
print(var_Sum)

5050

In [87]:
# 구구단

var_Sum = 1

for i in range(1, 10):
    for j in range(1, 10):
        var_Sum = i * j
        print(var_Sum)

1
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [99]:
# 연산
print(3 + 5) # 덧셈 
print(3 - 2) # 뺄셈 
print(3 * 1) # 곱셈
print(10 / 3) # 나눗셈 (나머지 포함)
print(10 // 3) # 몫만
print(10 % 3) # 나머지
print(10 ** 2) # 거듭제곱

8
1
3
3.3333333333333335
3
1
100

---
# 메모리에 있는 변수 보기

In [102]:
dir()

['In',
 'Out',
 '_',
 '_100',
 '_12',
 '_14',
 '_15',
 '_19',
 '_20',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_4',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_49',
 '_5',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_76',
 '_88',
 '_95',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'j',
 'lotto_list',
 'math',
 'quit',
 'random',
 'var_Sum',
 'var_cos45',
 'var_range',
 'var_sin45',
 'var_total',
 '수학']

In [105]:
var_total

1.0

---
# 메모리에 있는 변수 삭제하기

In [108]:
del var_total
var_total

NameError: name 'var_total' is not defined

---
# 관계 연산자

In [114]:
num1 = 100
num2 = 20 
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)

False
True
True
True
False
False

---
# 논리연산자

In [116]:
print((num1 >= 50) & (num2 <= 10))

False

---
# 부정연산자

In [118]:
not(num1 >= 50)

False

---
# 문자열 자료형

In [120]:
var01 = "Hello World!"
var01

'Hello World!'

In [121]:
# 여러줄의 문자열 출력
var01 = """
    Hello World!
    Good to Meet You
"""

print(var01)

    Hello World!
    Good to Meet You

In [123]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you".'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you".

In [126]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
print(var03)

var03 = 'aaa\tbbb'
print(var03)

aaa
bbb
aaa	bbb

In [130]:
# 문자열 연산(덧셈)

var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02) # 띄어쓰기가 적용된다.

Pythonis fun.
Python is fun.

In [131]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [132]:
print("=" * 20)
print('Python')
print("=" * 20)

====================
Python
====================

---
# 문자열 indexing과 slicing

In [140]:
# Indexing
str01 = "abcdefghijklmn"
print(str01[0])

# Slicing
print(str01[0:3])
print(str01[-1]) # 맨 끝
print(str01[5:]) # 5번부터 끝까지
print(str01[:5]) # 5번 전까지
print(str01[0] + str01[1] + str01[2])
print(str01[5:-2]) # 5번째부터 뒤에서 두번째 글자 전까지

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [147]:
str01 = "20201229Snow"

print(str01[:4], str01[4:8], str01[8:])

2020 1229 Snow

In [154]:
# str01 = 20211219Snow로 변경하기

str01 = str01[:3] + '1' + str01[4:]
print(str01)

20211229Snow

---
# 문자열 formatting

In [159]:
# %d : 정수형 formatting
print("I hava %d apples." %2)

# 다른 방법
number = 2
print("I hava %d apples." %number)

I hava 2 apples.
I hava 2 apples.

In [158]:
# %s : 문자열 formatting
print("I hava %s apples." %"two")

I hava two apples.

In [160]:
# 혼합형 formatting
number = 2
fruit = 'apples'
print("I have %d %s." %(number, fruit)) # tuple (리턴 여러개 가능)

I have 2 apples.

In [162]:
# 문자열 정렬
print('I have 2 %10s.' %"apples") # 10칸 중 끝부터 채워진다 (오른쪽 정렬)
print('I have 2 %-10s.' %"apples") # 10칸 중 시작부터 채워진다 (왼쪽 정렬)

I have 2     apples.
I have 2 apples    .

In [167]:
# %f : 실수형 formatting
print("------+------+")
print("%0.4f" %3.14159)
print("%10.4f" %3.14159) # 10자리 중 끝부터 채워지는 것 (오른쪽 정렬)

------+------+
3.1416
    3.1416

---
# 문자열 관련 함수

In [175]:
# 문자 count
str01 = "I have a dream."
print(str01.count('a')) # a라는 글자 개수
print(len(str01)) # 전체 글자수

3
15
I hav

In [174]:
# 문자 위치 알려주기 1
print(str01.find('e')) # e라는 글자의 위치 찾기 (0번부터 시작)
print(str01.find('x')) # -1은 해당 글자 없음
print(str01[:str01.find('e')]) # 찾은 글자로부터 앞을 출력할 때

5
-1

In [176]:
# 문자 위치 알려주기 2
print(str01.index('e')) # 다만 없는 글자일 경우 에러가 걸린다!

5

In [177]:
# 문자열 삽입 (join)
str01 = ","
str01.join('abcdef')

'a,b,c,d,e,f'

In [183]:
# 소문자를 대문자로 변환 (upper)
str01 = 'hi'
print(str01.upper()) 

# 대문자를 소문자로 변환(lower)
print(str01.lower())

HI
hi

In [186]:
# 공백 지우기
str01 = '     hi'
str01.lstrip() # 왼쪽 공백 지우기
str01.rstrip() # 오른쪽 공백 지우기
str01.strip() # 모든 공백 지우기

'hi'

In [196]:
# 문자열 바꾸기(replace)
str01 = 'Life is too short to be happy.'
str01.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [193]:
# 문자열 나누기 (split)
list01 = str01.split() # 공백 기준으로 문자열 나누기
type(list01) # 타입 확인하기
print(list01)
print(list01[0])

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']
Life

In [194]:
str02 = 'a:b:c:d'
str02.split(':') # 특정 문자 기준으로 split하기

['a', 'b', 'c', 'd']

---
# 날짜형 변환

In [199]:
from datetime import datetime, timedelta # from 뒤는 package 이름  // 날짜형 모듈 불러오기
time1 = datetime(2020, 12, 25, 21, 0, 0, 0)
print(time1)

2020-12-25 21:00:00

In [205]:
# 날짜 계산
time2 = datetime.now() # 현재시간
print(time2)
print(time2 - time1)

2021-01-27 14:07:36.510708
32 days, 17:07:36.510708

In [210]:
# 좀 더 편리하게 출력
print("두 날짜의 차이는", (time2 - time1).days , "일", (time1 - time2).seconds, "초")

두 날짜의 차이는 32 일 24743 초

In [213]:
# 특정 날짜로 부터 시간 계산
print(time2 + timedelta(days = 5)) # 5일 뒤
print(time2 + timedelta(days = -3)) # 3일 전

# 현재 시간부터 1일 뒤의 2시간 전
print(time2 + timedelta(days = 1, hours = -2))

2021-02-01 14:07:36.510708
2021-01-24 14:07:36.510708
2021-01-28 12:07:36.510708