---
# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현방법 : 리스트명 = [요소1, 요소2, ...]

In [7]:
## 리스트 자료형 선언
var01 = [] # 비어있는 선언
var01 = [1, 2, 3] # 값이 있는 선언
var01 = ['I', "have", 'a', 'dream']
var01 = [1, 2, 'Dream', True] # 자료형 혼합도 가능
var01 = [1, 2, ['Dream', True]] # 리스트안에 리스트도 가능
print(var01)

# 리스트 안의 리스트 뽑아오는 법
var01[2][0] # 2번 index에 있는 리스트의 0번 index의 값을 가져온다

[1, 2, ['Dream', True]]

'Dream'

---
# 리스트의 연산자

In [8]:
# 리스트의 숫자 합치기
var01 = [1, 2, 3]
var02 = [4, 5, 6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [54]:
# 리스트의 덧셈
var03 = []

for i in range(0, len(var02)):
    var03.append(var01[i] + var02[i])

var03

[5, 7, 9]

In [35]:
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
# var01[2] + 'hi'
# 숫자를 문자열로 변경
print(str(var01[2]) + 'hi')

# 문자열을 숫자로 변경
print(int('123'))

123

---
# 리스트의 수정과 삭제

In [40]:
var01
var01[2] = 4 # 수정
var01

[1, 2, 4]

In [55]:
var01[1:2] = ['a', 'b', 'c']
var01

[1, 'a', 'b', 'c', 3, 4]

In [56]:
var01[1:3] = []
var01

[1, 'c', 3, 4]

In [57]:
del var01[1]
var01

[1, 3, 4]

---
# 리스트 관련 함수

In [58]:
# 리스트에 요소 추가
var01 = [1,2,3]
var01.append(4) # 추가
var01

[1, 2, 3, 4]

In [59]:
var01.append([5, 6]) # 리스트 추가
var01

[1, 2, 3, 4, [5, 6]]

In [68]:
# 리스트의 정렬 : 숫자
var01 = [1, 4, 3, 2]
print(var01)

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [70]:
# 리스트의 정렬 : 영문 
var01 = ['c', 'd', 'a', 'b']
print(var01)

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

['c', 'd', 'a', 'b']
['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']

In [73]:
# 리스트의 정렬 : 한글 
var01 = ['대', 'ㄹ', '한', 'ㄱ']
print(var01)

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

['대', 'ㄹ', '한', 'ㄱ']
['ㄱ', 'ㄹ', '대', '한']
['한', '대', 'ㄹ', 'ㄱ']

In [74]:
# 리스트의 위치정보

var01 = [4, 5, 6]
var01.index(5) # 요소가 5인 것의 위치

1

In [75]:
# 리스트에 요소 삽입
var01.insert(0, 1) # index를 정하고 요소를 삽입하는 것
var01

[1, 4, 5, 6]

In [76]:
# 리스트에 요소 제거 
var01.remove(4) # 요소가 4인 것 제거
var01

[1, 5, 6]

In [77]:
# 리스트 요소 끄집어 내기
var01 = [1, 2, 3]
print(var01.pop()) # 리스트의 마지막 요소를 선택 후 보여주고 해당 데이터는 삭제
print(var01)

3
[1, 2]

In [78]:
# for문을 사용한 pop
var01 = [1, 2, 3]
for i in range(0, 3):
    print(var01.pop())
    
print(var01)

3
2
1
[]

In [83]:
# 리스트의 요소 개수 세기
var01 = [1, 2, 3, 4, 4]
print(var01.count(4))
print(len(var01))

2
5

In [85]:
# 리스트의 확장
var01 = [1, 2, 3, 4] # append는 한꺼번에 추가되고 extend는 개별적으로 붙는다
var01.extend([5, 6])
var01

[1, 2, 3, 4, 5, 6]